{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jsx-a11y", "import", "prettier"],
  "rules": {
    // Disable not working rules
    "react/require-default-props": 0,
    "react/button-has-type": 0,

    "react/react-in-jsx-scope": "off",
    "react/display-name": 1,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-unresolved": "error",
    "@typescript-eslint/ban-ts-comment": 1,
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "import/order": ["error", {
      "newlines-between": "always",
      "groups": [
        "external",
        "builtin",
        "internal",
        "sibling",
        "index",
        "object"
      ],
          "pathGroups": [
      {
        "pattern": "@/**",
        "group": "internal",
        "position": "after"
      }
    ],
    "pathGroupsExcludedImportTypes": ["builtin"]
    }]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:jsx-a11y/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./"
      }
    }
  }
}