.checkout {
    margin-top: -81px;
    padding: 150px 5% 50px;
    background-color: var(--color-black);
    max-width: 1440px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 639px) {
        padding-top: 120px;
    }
}