:local {
    .promotions {
        display: inline-flex;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        max-height: 600px;
        border-radius: 0 0 100px 100px;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

        @media (max-width: 521px) {
            flex-direction: column;
            > div {
                width: 100%;
                & ~ div {
                    display: none;
                }
            }
        }
    }
}
