.links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    > li {
        height: 30px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.link {
    > svg {
        width: auto;
        height: 100%;

        fill: var(--color-white);
    }
}
