:local {
    .tabs {
        z-index: 4;
        top: 78px;
        display: inline-flex;
        position: sticky;
        overflow: hidden;
        align-items: baseline;
        width: 100%;
        width: 100%;
        height: 70px;
        margin-top: 1em;
        padding: 0 2px;
        list-style: none;
        white-space: nowrap;
        word-wrap: none;
        background-color: var(--color-black);
        scroll-snap-type: x;
        gap: 1rem;
        -webkit-overflow-scrolling: touch; /* Important for iOS devices */

        @media (max-width: 938px) {
            overflow-x: auto;
            margin-right: 1rem;
        }

        &:hover {
            overflow-x: auto;
        }
    }

    .tab {
        position: relative;
        display: inline-block;
        padding: 10px 0;
        cursor: pointer;
        vertical-align: middle;
        white-space: nowrap;
        text-transform: uppercase;
        border-bottom: .2rem solid transparent;
        font-size: 1.3rem;
        font-stretch: condensed;
        line-height: 1;
        scroll-snap-align: start;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &[aria-selected="true"] {
            color: var(--color-california);
            border-bottom-color: var(--color-california);
        }
    }

    .sticky {
        z-index: 4;
        background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    }
}
