:local {
    .items {
        display: grid;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 1em;

        --box-min-width: 360px;
        grid-template-columns: repeat(auto-fill, minmax(var(--box-min-width), 1fr));
        grid-gap: 2em;

        @media (max-width: 1920px) {
            --box-min-width: 330px;
        }

        @media (max-width: 1200px) {
            --box-min-width: 280px
        }

        @media (max-width: 880px) {
            --box-min-width: 240px;
        }
    }

    .item {
        position: relative;
        overflow: visible;
        justify-content: space-between;
        margin-bottom: 5px;
        box-shadow: 1px 1px 10px 1px rgba(150, 150, 150, .1);
    }

    .image,
    .title {
        cursor: pointer;
    }

    .title {
        margin: 1em;
        font-size: 16px;
        font-weight: bolder;
    }

    .image {
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}
