:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-primary-cod-gray: #0f0f0f;
    --color-text: #FFFAF2;

    --color-bright-Red: #A7000A;
    --color-red: #ff2e55;
    --color-scarlet: #fd2309;
    --color-california: #fe9902;
    --color-concrete: #f3f3f3;
}

/* #FFF3E3  #20403F #202D3F */