:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-black-rgb: 0,0,0;
    --color-white-rgb: 255,255,255;
    --color-primary-cod-gray: #0f0f0f;
    --color-text: #FFFAF2;

    --color-red: #f22a42;
    --color-punch: #DB4F25;
    --color-california: #fe9902;
    --color-concrete: #f3f3f3;
    
}

/* #FFF3E3  #20403F #202D3F */