.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
    transition-property: background-color, color;
    color: #dadada;


    &.dark {
        background-color: #101010;

        > .switch {
            border-color: #e0e0e0;
            background: #282828;
        }

        .label:hover {
            color: #e0e0e0;
        }
    }
    &.light {

        color: #101010;
        > .switch {
            border-color: #282828;
            background-color: #e0e0e0;
        }

        .label:hover {
            color: #282828;
        }
    }
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    padding: 0 2rem;
    border: 0.25rem solid;
    border-radius: 25px;

    .label {
        padding: 0.6rem;
        cursor: pointer;
        transition: color 200ms ease-out;
        font-size: 1rem;

    }


    input[type='radio']:checked,
    input[type='radio']:not(:checked) {
        display: none;
    }
}

.indicator {
    position: absolute;
    left: 0;
    width: 8rem;
    height: 8rem;
    transition: transform 600ms cubic-bezier(.02, .94, .09, .97);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;

    &.auto {
        transform: translate3d(0.5rem, 0, 0);
        background-image: url(./assets/auto.svg);
        
    }
    &.dark {
        transform: translate3d(4.5rem, 0, 0);
        background-image: url(./assets/dark.svg);
        
    }
    &.light {
        transform: translate3d(8.5rem, 0, 0);
        background-image: url(./assets/light.svg);

    }
}
